.card {
  display: flex;
  flex-direction: column;
  padding: 4rem 10rem;
  background-color: var(--light--yellow--3);
  gap: initial;
  width: auto;
  height: auto;

  &__paragraph {
    font-size: 34px;
    text-align: center;
    letter-spacing: 0.085rem;
  }
}

/////////// Media query ///////////////////

@media (min-width: 320px) and (max-width: 425px) {
  .card {
    height: auto;
    padding: 2rem;
    gap: initial;

    &__paragraph {
      font-size: 22px;
    }
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .card {
    padding: 3rem 2rem;
    gap: initial;

    &__paragraph {
      font-size: 26px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    padding: 4rem 2rem;
  }
}
