<footer>
  <div class="footer--info">
    <div>
      <p class="footer--info__description">Siga nas redes sociais</p>

      <!--<mat-icon [ngStyle]="{'color':'white'}">info</mat-icon>-->
      <i class="fa fa-instagram iconFonts" aria-hidden="true"></i>
      <i class="fa fa-linkedin-square iconFonts" aria-hidden="true"></i>
      <i class="fa fa-whatsapp iconFonts" aria-hidden="true"></i>
    </div>
    <div>
      <p class="footer--info__description">Contato:</p>
      <p class="footer--info__contact">leonardo@vendasway.com.br</p>
    </div>
  </div>

  <img src="assets/images/logo.png" alt="logo" />
  <p class="footer--privacyPolicy">Termos de Uso – Política de Privacidade</p>
  <p class="footer--copyright">
    Copyright © VendasWay | Leonardo Freire | Todos os Direitos Reservados
  </p>
</footer>
