header{
  padding:20px 0;
  background-color: var(--dark-black--1);
}
.row{
  display: flex;
//  align-items: baseline;
//  justify-content: space-around;
}
img{
  width: 35%;
}
.menu{
 margin-top: 10px;
}
.teste1{
  width: 50%;
  text-align: initial;
  margin-left: 5rem;
}
.teste{
  text-align: start;
  width: 50%;
}
.menu ul{
  padding: 0;
  margin:0;
}
.menu ul li{
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 50px 0 0;
}
.menu ul li a{
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  //box-shadow: 0 0 25px #000;
  display: block;
}
.menu ul li a:hover{
  color: var(--yellow--1);
  cursor: pointer;
  transform: scale(75%);
//  transition: all ease 500ms;
  transition: 0.4s ease-in-out;
 // transform: scale(1.5);
}



@media(max-width: 999px){
.menu{
  position: fixed;
  right: -280px;
  top:64;
  width: 280px;
  height: 100%;
  background: #222;
  transition: 0.4s ease-in-out;
}
.menu ul li {
  display: block;
  text-align: left;
  margin: 0;
  padding: 10px 0 10px 26px;
  border-bottom: 1px solid #312f2f;
}
.menu_icon{
  display: inline-block;
  position: relative;
  right: 0;
  //top: 20px;
}
.menu_icon span {
  width: 32px;
  height: 3px;
  background: #ffffff;
  display: block;
  transition: 0.2s ease-in-out;
}
.menu_icon span:nth-child(2) {
  margin: 4px 0;
}
.menu_iconClass span:nth-child(2){
display: none;
}
.menu_iconClass span:nth-child(1){
  transform: rotate(40deg);
}
.menu_iconClass span:nth-child(3){
  transform: rotate(-40deg);
  margin-top: -3px;
}
.menuClasse{
right: 0;
transition: 0.4s ease-in-out;
}
}
@media (min-width: 320px) and (max-width: 425px) {
/*
  .teste1 {
    width:auto;
    margin-left: 2rem;
}*/
.teste{
  text-align: unset;
}
header{
  padding:20px 30px;
}
img{
  width: 40%;
}
.row {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.menu_icon span{
  width: 20px;
  height: 3px;
}
}
////////////// size 320px ///////////////////
@media(max-width: 425px){
.teste1 {
  width: auto;
  margin-left: auto;
}
img{
  margin-left: auto;
  width: 60%;
}
}
