<div class="customer">
  <div class="customer__text-box">
    <h3>Toda empresa precisa de um CRM</h3>

    <p class="customer__text-box--paragraph">
      Em meio à transformação digital e de olho na experiência do usuário, o
      <b>Customer Relationship Management (CRM)</b> se tornou uma estratégia
      valiosa.
    </p>
    <p class="customer__text-box--paragraph">
      Empresas de todos os portes e segmentos utilizam CRM para estreitar elos
      com seu público, gerar, armazenar e analisar dados que incrementem sua
      rentabilidade.
    </p>
  </div>
</div>
