.customer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: auto;
  padding: 4rem;
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: 2;
  background-image: linear-gradient(rgba(#14145a, 0.6), rgba(#57577a, 0.9)),
    url(/assets/images/crm.png), url(/assets/images/crm.png);

  &__text-box {
    text-align: center;
    width: 70vw;
    display: flex;
    flex-direction: column;

    &--paragraph {
      font-size: 1.5rem;
      color: var(--light--blue);
      font-family: "Montserrat", sans-serif;
    }
  }
}

p:last-child {
  margin-top: 1rem;
}

h3 {
  font-size: 32px;
  margin-bottom: 5rem;
  text-transform: uppercase;
  color: var(--light--blue);

  font-family: "Montserrat", sans-serif;
}

////////// Media Queries ///////////////////////

@media (min-width: 320px) and (max-width: 425px) {
  h3 {
    font-size: 24px;
    margin-bottom: 3rem;
  }

  .customer {
    padding: 2rem;
    height: auto;

    &__text-box {
      width: 85vw;
      height: auto;
    }

    &__text-box--paragraph {
      font-size: 1.1rem;
    }
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .customer {
    padding: 3rem;
    height: auto;

    &__text-box {
      width: 85vw;
      height: auto;
    }

    &__text-box--paragraph {
      font-size: 1.1rem;
    }
  }

  h3 {
    font-size: 26px;
    margin-bottom: 3rem;
  }
}
