.position-fixed {
  position: fixed;
  z-index: 3;
  bottom: 30px;
  right: 40px;
  cursor: pointer;
}

.fa-4x {
  color: var(--light--green--3);
}

//////////////// Media Queries ///////////////////////////

@media (max-width: 425px) {
  .position-fixed {
    right: 25px;
  }

  .fa-4x {
    font-size: 3em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .position-fixed {
    right: 25px;
  }

  .fa-4x {
    font-size: 3em;
  }
}
