.position-fixed {
  position: fixed;
  z-index: 3;
  bottom: 75px;
  right: 50px;
  cursor: pointer;
}

.fa-3x {
  color: var(--light--green--3);
}

//////////////// Media Queries ///////////////////////////

@media (max-width: 425px) {
  .position-fixed {
    right: 25px;
  }

  .fa-3x {
    font-size: 2em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .position-fixed {
    right: 25px;
  }

  .fa-3x {
    font-size: 2.5em;
  }
}
