@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --light--yellow--1: #e9c62c;
  --light--yellow--2: #f6be00;
  --light--yellow--3: #eeb8015c;
  --light--yellow--4: #f1ba00;
  --dark--yellow--5: #f8ba00;

  --light--blue: #e8e8f1;
  --dark--blue: #283982;
  --dark--blue--1: #191970;
  --dark--blue--2: #14145a;
  --dark--blue--3: #57577a;
  --dark--blue--4: #0f0f43;

  --black: #000;
  --light--black: #232323;
  --dark-black--1: #151515;
  --white: #fff;
  --light--green--3: #25d366;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
