<div class="info__title">
  <p>O que você aprenderá</p>
</div>
<section class="features">
  <div class="feature">
    <i class="fa fa-dot-circle-o feature__icon" aria-hidden="true"></i>
    <p class="feature__title">Como construir um CRM</p>
    <p class="feature__text">
      Compreenda os fundamentos do marketing de CRM e estratégias de vendas
      recorrentes
    </p>
  </div>

  <div class="feature">
    <i class="fa fa-dot-circle-o feature__icon" aria-hidden="true"></i>
    <p class="feature__title">Criar um mapa de jornada</p>
    <p class="feature__text">
      Projete corretamente o mapa de jornada do seu cliente e desenvolva um
      modelo de segmentação que permita enviar a eles ofertas relevantes
    </p>
  </div>

  <div class="feature">
    <i class="fa fa-dot-circle-o feature__icon" aria-hidden="true"></i>
    <p class="feature__title">Definir métricas e KPIs</p>
    <p class="feature__text">
      Entenda quais dados são necessários para criar campanhas de diferentes
      tipos, como criar bons relatórios de campanha, e analisar seus resultados
    </p>
  </div>

  <div class="feature">
    <i class="fa fa-dot-circle-o feature__icon" aria-hidden="true"></i>
    <p class="feature__title">Usar o Marketing Direto</p>
    <p class="feature__text">
      Crie um mapa de comunicação eficaz com seus clientes por meio de e-mails,
      SMS, pushes e mensagens instantaneas. Crie campanhas integradas de CRM
    </p>
  </div>

  <div class="feature">
    <i class="fa fa-dot-circle-o feature__icon" aria-hidden="true"></i>
    <p class="feature__title">Escolher as melhores plataformas</p>
    <p class="feature__text">
      Compreenda e aprenda a decidir entre as principais plataformas e
      mecanismos para fazer seu CRM funcionar
    </p>
  </div>

  <div class="feature">
    <i class="fa fa-dot-circle-o feature__icon" aria-hidden="true"></i>
    <p class="feature__title">Executar um CRM de sucesso</p>
    <p class="feature__text">
      Aprenda como envolver e gerenciar os stakeholders de uma empresa para
      projetar e implementar uma campanha de CRM bem sucedido
    </p>
  </div>
</section>
